  <nav class="fondo-naranja">
    <div class="nav-wrapper">
      <a class="brand-logo margin-left100px"><i class="fa fa-street-view color-blanco" aria-hidden="true"></i><strong><span id="usuario" class=""></span></strong></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="mapa" href="#!">Mapa</a></li>
        <li> <button ng-click="vm.cerrarSesion()" class="btn waves-effect waves-light green" href="#!">cerrar sesion</button></li>
      </ul>
    </div>
  </nav>
  <section class="container">
     <h2 class="center">RUTAS</h2>
  <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue waves-effect waves-light">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a ng-click="vm.cerrarSesion()" id="cerrar-sesion" class="btn-floating tooltipped red" data-position="top" data-delay="50" data-tooltip="cerrar sesion"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      <li><a ui-sref="mapa" class="btn-floating orange tooltipped" data-position="top" data-delay="50" data-tooltip="mapa"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
    </ul>
  </div>

        <p class="center">Registro de las rutas dentro de la ciudad de medellin</p>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li ng-repeat="ruta in vm.rutasMed">
                <div class="collapsible-header"><i class="fa fa-street-view" aria-hidden="true"></i>{{ruta.nombreRuta}}</div>
                <div class="collapsible-body container">
                    <p><strong>Flota: </strong>{{ruta.nombreFlota}}<br>
                        <strong>Conductor: </strong>{{ruta.nombreConductor}}<br>
                        <strong>Placa vehiculo: </strong>{{ruta.placa}}<br>
                        <strong>Rutas: </strong>
                        <br>{{ruta.nombrePunto.ruta1.nombre}}: {{ruta.nombrePunto.ruta1.tiempo}} <strong>lat/long:</strong> {{ruta.nombrePunto.ruta1.latitud}}
                        / {{ruta.nombrePunto.ruta1.longitud}}
                        <br>{{ruta.nombrePunto.ruta2.nombre}}: {{ruta.nombrePunto.ruta2.tiempo}} <strong>lat/long:</strong> {{ruta.nombrePunto.ruta2.latitud}}
                        / {{ruta.nombrePunto.ruta2.longitud}}
                        <br>{{ruta.nombrePunto.ruta3.nombre}}: {{ruta.nombrePunto.ruta3.tiempo}} <strong>lat/long:</strong> {{ruta.nombrePunto.ruta3.latitud}}
                        / {{ruta.nombrePunto.ruta3.longitud}}
                        <hr>
                        <a ui-sref="mapa" href="#!" class="btn waves-effect waves-light fondo-naranja">Buscar en el mapa <i class="fa fa-street-view" aria-hidden="true"></i></a>
                    </p>
                </div>
            </li>
        </ul>

  </section>